@fa-font-path: "../font";
@content-width : 900px;

* {
  margin: 0;
  padding: 0;
}

body {
  min-width: @content-width;
  background: #e2e2e2;
  font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
}

li {
  list-style-type: none;
}

#header {
  text-align: center;
  background-color: #fff;
  height: 39px;
  font-weight: 500;
  background-size: 44px 44px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.22);
  #header-container {
    margin: auto;
    color: #ddd;
    width: @content-width;
    text-align: left;
    a {
      font-size: 22px;
      color: #666;;
      cursor: pointer;
      text-decoration: none;
    }
    a:hover {
      text-decoration: none;
    }
    a:active {
      text-decoration: none;
    }
    .right-link {
      font-size: 16px;
      margin: 6px 0 0 15px;
      float: right;
    }
  }
}

#wrapper {
  margin: 0 auto;
  width: @content-width;
  background: #e2e2e2 url("/static/img/shadow_light.png") repeat-x;
}

#footer {
  width: 100%;
  position: absolute;
  z-index: 0;
  bottom: 5px;
  left: 0;
  color: #333;
  word-spacing: 3px;
  zoom: 1;
  margin: 0;
}

//index-page
#index-page {
  width: @content-width;
  margin: 0 auto;
  padding-top: 2px;
  img#index-back {
    width: @content-width;
  }
  a {
    font-size: 25px;
  }
}