* {
  margin: 0;
  padding: 0;
}
body {
  text-align: center;
  min-width: 1000px;
  background: #efdfef;
  font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
}
#header {
  height: 40px;
  background: #48525e;
  border-bottom: none;
}
#footer {
  width: 100%;
  position: absolute;
  z-index: 0;
  bottom: 5px;
  left: 0;
  color: #333;
  word-spacing: 3px;
  zoom: 1;
  margin: 0;
}
