* {
  margin: 0;
  padding: 0;
}
body {
  text-align: center;
  min-width: 900px;
  background: #efdfef;
  font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
}
li {
  list-style-type: none;
}
#header {
  height: 40px;
  background: #48525e;
  border-bottom: none;
}
#header #header-container {
  margin: auto;
  color: #ddd;
  width: 900px;
  text-align: left;
  font-size: 30px;
}
#header #header-container a {
  color: #ddd;
  text-decoration: none;
}
#header #header-container a:hover,
#header #header-container a:active {
  text-decoration: none;
}
#header #header-container #right-div {
  float: right;
}
#header #header-container #right-div a {
  font-size: 18px;
}
#footer {
  width: 100%;
  position: absolute;
  z-index: 0;
  bottom: 5px;
  left: 0;
  color: #333;
  word-spacing: 3px;
  zoom: 1;
  margin: 0;
}
#index-page a {
  font-size: 36px;
  cursor: pointer;
}
#index-page a:hover {
  text-decoration: none;
}
