.poems-content {
  max-width: 800px;
  margin: auto;
  .poem-item {
    text-align: left;
    margin: 10px auto;
    padding-bottom: 10px;
    border-bottom: 2px gray solid;

    .label {
      color: darkred;
      margin-left: 32px;
    }
  }
}
