#poem-page {
  text-align: center;
}
#poem-page .poems-content {
  max-width: 800px;
  margin: auto;
}
#poem-page .poems-content .poem-item {
  text-alin: left;
  margin: 10px auto;
  padding-bottom: 10px;
  border-bottom: 2px gray solid;
}
#poem-page .poems-content .poem-item .label {
  color: darkred;
  margin-left: 32px;
}
