<div id="allusion-page" ng-controller="allusionCtrl">
    <div class="left-div">
        <h4>当前推荐词：<b>{{keyword}}</b> 评分：21.445</h4>

        <div class="poems-content">
            <div class="poem-item" ng-repeat="poem in poems">

                <label class="label">题目：</label><b>{{poem.title}}</b>
                <br>
                <label class="label">作者：</label> {{poem.author}}
                <label class="label">目录：</label>{{poem.category}}
                <br>
                <label class="label">诗句：</label>{{poem.sentence}}
                <!--<br>-->
                <!--<label class="label">句子：</label>{{poem.content}}-->

                <input class="poem-check" type="checkbox" value="选择">
            </div>
        </div>
        <input type="button" class="btn btn-primary" value="提交">
    </div>
    <div class="right-div">
        <h4>候选词：</h4>

        <div class="poems-content">
            <div class="poem-item" ng-repeat="word in words">
                <label class="label">词语：</label>
                <a href="javascript:void(0)" ng-click="searchAllusion(word._id)">{{word._id}}</a></b>
                <label class="label">评分：</label><b>{{word.value|number:3}}</b>
            </div>
        </div>
    </div>
</div>