<div id="jplag-page" ng-controller="jplagCtrl">
    <h2>相似度检测</h2>
    <nav class="navbar navbar-default" role="navigation"
         style="margin-top:10px">
        <div class="navbar-header">
            <a class="navbar-brand" href="https://github.com/jplag/jplag">Jplag Github</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="index.html">开始查重</a></li>
            </ul>
        </div>
    </nav>

    <div class="row">
        <div role="form" class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <label for="language">语言</label>
                <select class="form-control" id="language">
                    <option>c/c++</option>
                    <option>c# 1.2</option>
                    <option>Java 1.7</option>
                </select>
            </div>
            <div class="form-group">
                <label for="name">Token</label>
                <input type="text" class="form-control" id="name" ng-model="token">

                <p class="help-block">请输入整数，数值越小，比对越敏感。</p>
            </div>

            <div class="form-group">
                <label for="code-file">代码文件*</label>

                <form method=post enctype=multipart/form-data>
                    <input class="form-control" id="code-file" type=file name=file ng-model="fileInput">
                    <br>
                    <input type="button" class=" btn btn-default" value="上传" ng-click="uploadCode('code-file')">

                    <p class="help-block">{{codeTip}}</p>
                </form>
            </div>

            <div class="form-group">
                <label for="code-file">Base文件*</label>

                <form method=post enctype=multipart/form-data>
                    <input class="form-control" id="base-file" type=file name=file>
                    <br>
                    <input type="button" class=" btn btn-default" value="上传" ng-click="uploadCode('base-file')">

                    <p class="help-block">{{baseTip}}</p>
                </form>
            </div>

            <button class="btn btn-default pull-right" ng-click="runCheck()">开始查重</button>
        </div>

    </div>
</div>