<div id="jplag-page" ng-controller="jplagCtrl">
    <h2>相似度检测</h2>
    <nav class="navbar navbar-default" role="navigation"
         style="margin-top:10px">
        <div class="navbar-header">
            <a class="navbar-brand" href="https://github.com/jplag/jplag">Jplag Github</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="index.html">开始查重</a></li>
            </ul>
        </div>
    </nav>

    <div class="row">
        <form role="form" class="col-md-8 col-md-offset-2">

            <div class="form-group">
                <label for="inputfile">代码文件*</label>
                <input type="file" class="form-control" id="inputfile">

                <p class="help-block">选择zip格式的打包后的代码。</p>
            </div>

            <div class="form-group">
                <label for="basefile">base代码</label>
                <input type="file" class="form-control" id="basefile">

                <p class="help-block">选择zip格式的打包后的base代码。该代码将在查重中忽略。</p>
            </div>

            <div class="form-group">
                <label for="language">语言</label>
                <select class="form-control" id="language">
                    <option>c/c++</option>
                    <option>c# 1.2</option>
                    <option>Java 1.7</option>
                </select>
            </div>

            <div class="form-group">
                <label for="name">Token</label>
                <input type="text" class="form-control" id="name" value="5">

                <p class="help-block">请输入整数，数值越小，比对越敏感。</p>
            </div>

            <button type="submit" class="btn btn-default pull-right">提交</button>
        </form>

    </div>
    <div ng-controller="jplagCtrl" name="form">
        <h4>Upload on file select</h4>
        <button type="file" ngf-select="uploadFiles($file, $invalidFiles)"
                ngf-max-height="1000" ngf-max-size="1MB">
            Select File
        </button>
        <br><br>
        File:
        <div>{{f.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
            <span class="progress" ng-show="f.progress >= 0">
                <div style="width:{{f.progress}}%"
                     ng-bind="f.progress + '%'">
                </div>
            </span>
        </div>
        {{errorMsg}}
    </div>
</div>